*.pidb
*.userprefs
*.suo
.DS_Store
obj
Temp
SHTerminal/Library/
SHTerminal/Assembly-UnityScript-Editor-vs.unityproj
SHTerminal/Assembly-UnityScript-Editor.unityproj
SHTerminal/Assembly-UnityScript-firstpass-vs.unityproj
SHTerminal/Assembly-UnityScript-firstpass.unityproj
SHTerminal/Assembly-UnityScript-vs.unityproj
SHTerminal/Assembly-UnityScript.unityproj
SHTerminal/Assets/Assembly-CSharp-Editor.pidb.meta
SHTerminal/Assets/Assembly-CSharp-firstpass.pidb.meta
SHTerminal/Assets/Assembly-CSharp.pidb.meta
SHTerminal/Assets/Assembly-UnityScript-Editor.pidb.meta
SHTerminal/Assets/Assembly-UnityScript-firstpass.pidb.meta
SHTerminal/UnityVS.unity.UnityScript.Editor.unityproj
SHTerminal/UnityVS.unity.UnityScript.Plugins.unityproj
SHTerminal/UnityVS.unity.UnityScript.unityproj
SHTerminal/Assembly-CSharp-Editor-firstpass-vs.csproj
SHTerminal/Assembly-CSharp-Editor-firstpass.csproj
SHTerminal/Assembly-CSharp-Editor-vs.csproj
SHTerminal/Assembly-CSharp-Editor.csproj
SHTerminal/Assembly-CSharp-firstpass-vs.csproj
SHTerminal/Assembly-CSharp-firstpass.csproj
SHTerminal/Assembly-CSharp-vs.csproj
SHTerminal/Assembly-CSharp.csproj
SHTerminal/UnityVS.unity.CSharp.Editor.Plugins.csproj
SHTerminal/UnityVS.unity.CSharp.Editor.csproj
SHTerminal/UnityVS.unity.CSharp.Plugins.csproj
SHTerminal/UnityVS.unity.CSharp.csproj
SHTerminal/UnityVS.unity.sln
SHTerminal/unity-csharp.sln
SHTerminal/unity.sln
SHTerminal/UnityVS.unity.Boo.Editor.booproj
*.booproj
builds/
SHTerminal/Logs/
SHTerminal/Assets/Scenes/LevelTest#xulm/
SHTerminal/sh recorder_Data/
SHTerminal/sh recorder.exe
*.db
SHTerminal/Screenshots/replays/
UnityVS/
/Library
