*.pidb
*.userprefs
*.suo
.DS_Store
obj
Temp
unity/Library/
unity/Assembly-UnityScript-Editor-vs.unityproj
unity/Assembly-UnityScript-Editor.unityproj
unity/Assembly-UnityScript-firstpass-vs.unityproj
unity/Assembly-UnityScript-firstpass.unityproj
unity/Assembly-UnityScript-vs.unityproj
unity/Assembly-UnityScript.unityproj
unity/Assets/Assembly-CSharp-Editor.pidb.meta
unity/Assets/Assembly-CSharp-firstpass.pidb.meta
unity/Assets/Assembly-CSharp.pidb.meta
unity/Assets/Assembly-UnityScript-Editor.pidb.meta
unity/Assets/Assembly-UnityScript-firstpass.pidb.meta
unity/UnityVS.unity.UnityScript.Editor.unityproj
unity/UnityVS.unity.UnityScript.Plugins.unityproj
unity/UnityVS.unity.UnityScript.unityproj
unity/Assembly-CSharp-Editor-firstpass-vs.csproj
unity/Assembly-CSharp-Editor-firstpass.csproj
unity/Assembly-CSharp-Editor-vs.csproj
unity/Assembly-CSharp-Editor.csproj
unity/Assembly-CSharp-firstpass-vs.csproj
unity/Assembly-CSharp-firstpass.csproj
unity/Assembly-CSharp-vs.csproj
unity/Assembly-CSharp.csproj
unity/UnityVS.unity.CSharp.Editor.Plugins.csproj
unity/UnityVS.unity.CSharp.Editor.csproj
unity/UnityVS.unity.CSharp.Plugins.csproj
unity/UnityVS.unity.CSharp.csproj
unity/UnityVS.unity.sln
unity/unity-csharp.sln
unity/unity.sln
unity/UnityVS.unity.Boo.Editor.booproj
*.booproj
builds/
unity/Logs/
unity/Assets/Scenes/LevelTest#xulm/
unity/sh recorder_Data/
unity/sh recorder.exe
*.db
unity/Screenshots/replays/
UnityVS/
/Library
